<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      function set_dropdown_label(lbl) {
        $('#dropdown-button').text(lbl);
        $('#assignment_id').val(lbl);
      }

      $(function() {
          $.ajax({
              url: '/assignments',
              type: 'GET',
              data: { get_not_visible: false },
              ContentType: 'application/json; charset=utf-8',
              dataType: 'json',
              success: function(data) {
                if (data.status === 'Success') {
                  var assignments = data.assignments;
                  $('#assignment-dropdown').empty();
                  if (assignments.length > 0) {
                    for (var i = 0; i < assignments.length; i++) {
                        var curr = assignments[i];
                        var entry_html = '<li><a href="#" onclick=set_dropdown_label("' + curr.name + '")>' + curr.name + '</a></li>';
                        $('#assignment-dropdown').append(entry_html);
                    }
                  } else {
                    $('#assignment-dropdown').append('<li><a href="#">No Assignments Available</a></li>');
                  }
                } else {
                  show_error(data.msg);
                }
              },
              failure: function() {
                show_error('Internal failure');
              },
            });
      });
    </script>
  </head>

  <body>
    <% include header.html %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h3>Submit Test Run</h3>
        <hr/>
        <div class="col-md-7 col-md-offset-3">

          <div class="dropdown" style="float:left">
            <button style="width=100%" id='dropdown-button' class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Select Assignment</button>
            <ul class="dropdown-menu" id="assignment-dropdown">
              <li><a href="#">Loading...</a></li>
            </ul>
          </div>

          <form action="submit_run" method="post" enctype="multipart/form-data">
            <input name="zip" type="file">
            <input name="assignment" type="hidden" value="" id="assignment_id">
            <input value="Run" name="submit" type="submit" class="btn btn-primary" style="float:right">
          </form>
        </div>
      </div>
    </div>


          <!--form action="submit_run" method="post" enctype="multipart/form-data">
          <input id="input-1" type="file" name="zip" style="float:left"></input>
          <input value="Run" name="submit" type="submit" class="btn btn-primary" style="float:right"></input>
          </form>
        </div>
      </div>
    </div-->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <hr/>
      <h3>Past Runs</h3>
      <hr/>
      </div>
    </div>


    <% include footer.html %>
  </body>
</html>
