<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <h2>Add An Assignment</h2>
        <div class="col-md-4 col-md-offset-4">
          <form action="/assignment" method="post" enctype="multipart/form-data" role="form">
            <input name="assignment_name" type="text" class="form-control" placeholder="Assignment Name" id="name"></input>
            <label>Instructor Tests</label><input name="zip" type="file">
            <label>Instructor POM</label><input name="instructor_pom" type="file">
            <label>Assignment Rubric</label><input name="rubric" type="file">
            <label>Checkstyle File</label><input name="checkstyle_config" type="file">
            <input value="Create" name="submit" type="submit" class="btn btn-primary" style="float:right">
          </form>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <hr></hr>
        <h2>Existing Assignments</h2>
        <h4 id="assignment-count"></h4>
        <table id="existing-assignments" style="width:100%" class="table table-hover table-bordered table-condensed">
          <tr>
            <td bgcolor="#AAAAAA"><center><b>Name</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Visibility</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Correctness Only</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>JVM Args</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>SLURM Flags</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Correctness Tests Timeout (ms)</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Performance Tests Timeout (HH:MM:SS)</b></center></td>
            <td bgcolor="#AAAAAA"><center><b># Cores</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Reupload Zip</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Reupload Instructor POM</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Reupload Rubric</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Reupload Checkstyle</b></center></td>
          </tr>
          <% for (var i = 0; i < assignments.length; i++) { %>
          <%   var curr = assignments[i]; %>
          <tr>
              <td>
                  <center><%= curr.name %></center>
              </td>
              <td>
                  <center>
                  <form action="/set_assignment_visible/<%= curr.assignment_id %>" method="post">
                      <input type="hidden" name="set_visible" value="<%= !curr.visible %>">
                      <input class="btn btn-primary" value=<%= curr.visible ? 'Disable' : 'Enable' %> name="submit" type="submit">
                  </form>
                  </center>
              </td>
              <td>
                  <center>
                  <form action="/set_assignment_correctness_only/<%= curr.assignment_id %>" method="post">
                      <input type="hidden" name="set_correctness_only" value="<%= !curr.correctness_only %>">
                      <input class="btn btn-primary" value=<%= curr.correctness_only ? 'Disable' : 'Enable' %> name="submit" type="submit">
                  </form>
                  </center>
              </td>
              <td>
                  <center>
                      <form action="/update_jvm_args/<%= curr.assignment_id %>" method="post" enctype="application/x-www-form-urlencoded">
                          <input name="jvm_args" type="text" value="<%= curr.jvm_args %>">
                          <input value="Update" name="submit" type="submit">
                      </form>
                      </center>
                  </td>
                  <td>
                      <center>
                          <form action="/update_custom_slurm_flags/<%= curr.assignment_id %>" method="post" enctype="application/x-www-form-urlencoded">
                              <input name="custom_slurm_flags" type="text" value="<%= curr.custom_slurm_flags %>">
                              <input value="Update" name="submit" type="submit">
                          </form>
                      </center>
                  </td>
                  <td>
                      <center>
                          <form action="/update_correctness_timeout/<%= curr.assignment_id %>" method="post" enctype="application/x-www-form-urlencoded">
                              <input name="correctness_timeout" type="text" value="<%= curr.correctness_timeout_ms %>">
                              <input value="Update" name="submit" type="submit">
                          </form>
                      </center>
                  </td>
                  <td>
                      <center>
                          <form action="/update_performance_timeout/<%= curr.assignment_id %>" method="post" enctype="application/x-www-form-urlencoded">
                              <input name="performance_timeout" type="text" value="<%= curr.performance_timeout_str %>">
                              <input value="Update" name="submit" type="submit">
                          </form>
                      </center>
                  </td>
                  <td>
                      <center>
                          <form action="/update_ncores/<%= curr.assignment_id %>" method="post" enctype="application/x-www-form-urlencoded">
                              <input name="ncores" type="text" value="<%= curr.ncores %>">
                              <input value="Update" name="submit" type="submit">
                          </form>
                      </center>
                  </td>
                  <td>
                      <center>
                          <form action="/upload_zip/<%= curr.assignment_id %>" method="post" enctype="multipart/form-data">
                              <input name="zip" type="file">
                              <input value="Upload" name="submit" type="submit">
                          </form>
                      </center>
                  </td>
                  <td>
                      <form action="/upload_instructor_pom/<%= curr.assignment_id %>" method="post" enctype="multipart/form-data">
                          <input name="pom" type="file">
                          <input value="Upload" name="submit" type="submit">
                      </form>
                  </td>
                  <td>
                      <form action="/upload_rubric/<%= curr.assignment_id %>" method="post" enctype="multipart/form-data">
                          <input name="rubric" type="file">
                          <input value="Upload" name="submit" type="submit">
                      </form>
                  </td>
                  <td>
                      <form action="/upload_checkstyle/<%= curr.assignment_id %>" method="post" enctype="multipart/form-data">
                          <input name="checkstyle_config" type="file">
                          <input value="Upload" name="submit" type="submit">
                      </form>
                  </td>
              </tr>
          <% } %>
        </table>
      </div>
    </div>

    <% include footer.html %>
  </body>
</html>
