<html>
  <head>
    <title>Comments</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script type="text/javascript" src="/third_party/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/third_party/bootstrap.min.js"></script>
    <script type="text/javascript">
      function submit_comments() {
        $.ajax({
            url: '/comments',
            type: 'POST',
            data: { comment: $('#comments').val() },
            dataType: 'json',
            success: function(data) {
              if (data.status === 'Success') {
                window.location.replace(data.redirect);
              } else {
                show_error(data.msg);
              }
            },
            failure: function() {
              show_error('Internal failure');
            },
          });
      }
    </script>
  </head>

  <body>
    <% include header.html %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <form action="/comments" method="post" name="commentsForm">
        <div class="form-group">
          <input style="width:100%" name="comments" type="text" class="form-control" placeholder="Leave Anonymous Comments"/>
      </div>
      <div class="form-group">
        <input value="Submit" name="submit" type="submit" class="btn btn-default"/>
      </div>
      </form>
      </div>
    </div>

    <% include footer.html %>

  </body>
</html>
