<html>
  <head>
    <title>FAQ</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <h3>FAQ</h3>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h5>I see an error that starts with "/var/spool/slurm/job894552/slurm_script: line 47:   456 Killed                  java -Djava.security.manager -Djava.security.policy==$CELLO_WORK_DIR/security.policy ...", what does this mean?</h5>
        <hr/>
        <p>This error message generally indicates that your application tried to
        use more memory than was allotted to it on the cluster.</p>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h5>I see the error "Performance tests reported error: An internal error occurred initiating the performance tests, please contact the teaching staff", what does this mean?</h5>
        <hr/>
        <p>This error message generally indicates a timeout connecting from the
        autograder to the cluster on which the performance tests will run. The
        recommended action is to see if resubmitting your test run resolves this
        error. If the error message persists, please contact the teaching
        staff.</p>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h5>I see an error similar to "Performance tests reported error: slurmstepd: *** JOB XXXX CANCELLED AT 2016-03-15T22:22:52 DUE TO TIME LIMIT on c73 *** ", what does this mean?</h5>
        <hr/>
        <p>This error message indicates that your job on the cluster took longer
        than the permitted time. The most common cause of this is long-running
        student code, running much slower than expected. Verify that you haven't
        added any unnecessary overhead to your program, such as calls to
        doWork() or excessive print statements. If you are using MPI, it might
        indicate that the tags, destination/source, or number of bytes of a send-receive pair are
        mismatched. The second most common cause is hangs
        caused by a third-party profiling tool which is used when performance
        profiling is enabled by the user. In this case, the only user-visible
        impact is that the profiling information will be absent from the run
        page. Otherwise, this error can be safely ignored.</p>
      </div>
    </div>


    <% include footer.html %>
  </body>
</html>
