<html>
  <head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
    <script src="/third_party/canvasjs.min.js"></script>
    <script type="text/javascript">
        <% if (typeof runs !== 'undefined' && has_performance_tests && runs.length > 0) { %>
            <% var count_nonempty = 0; %>
            <% for (var r = 0; r < runs.length; r++) { %>
            <%   if (runs[r].characteristic_speedup.length > 0) count_nonempty++; %>
            <% } %>

        window.onload = function() {
            var history = new CanvasJS.Chart("historyChartContainer",
            {
                title: {
                    text: "<%= assignment_name %> Performance History",
                    fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
                },
                animationEnabled: true,
                axisY: {
                    title: "Speedup",
                    titleFontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif',
                    minimum: 0.0
                },
                axisX: {
                    title: "Time, newer runs to the left",
                    interval: <%= count_nonempty - 1 %>,
                    titleFontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
                },
                theme: "theme2",
                data: [{
                    type: "column",  
                    dataPoints: [
                        <% var nleft = count_nonempty; %>
                        <% for (var r = 0; r < runs.length - 1; r++) { %>
                        <%   if (runs[r].characteristic_speedup.length != 0) { %>
                        <%     var label = ''; %>
                        <%     if (nleft === count_nonempty) label = 'Latest Run'; %>
                        <%     if (nleft === 1) label = 'Oldest Run'; %>
                            {y: <%= runs[r].characteristic_speedup %>, label: '<%= label %>' }
                        <%     nleft--; %>
                        <%     if (nleft != 0) { %>
                               ,
                        <%     } %>
                        <%   } %>
                        <% } %>
                    ]
                }]
            });

            var binned = new CanvasJS.Chart("binnedChartContainer",
            {
                title: {
                    text: "<%= assignment_name %> Speedup Distribution (1 datapoint per user)",
                    fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
                },
                animationEnabled: true,
                axisY: {
                    title: "Count",
                    titleFontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif',
                    minimum: 0.0
                },
                axisX: {
                    title: "Speedup",
                    titleFontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
                },
                theme: "theme2",
                data: [{
                    type: "column",  
                    dataPoints: [
                        <% for (var i = 0; i < speedup_bins.length; i++) { %>
                        {y: <%= speedup_bins[i].count %>, label: '<%= speedup_bins[i].lbl %>' }
                        <%     if (i != speedup_bins.length - 1) { %>
                            ,
                        <%     } %>
                        <% } %>
                    ]
                }]
            });

            <% if (count_nonempty == 0) { %>
                $('#chartContainerContainer').css('display', 'none');
            <% } else { %>
                history.render();
                binned.render();
            <% } %>
           }
    <% } %>
    </script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <% if (typeof runs !== 'undefined') { %>
        <h3>Leaderboard - <%= assignment_name %></h3>
        <% } else { %>
        <h3>Leaderboard</h3>
        <% } %>
        <hr/>
        <div class="col-md-9 col-md-offset-2" style="text-align:center;">
            <h4>Select Assignment</h4>
          <% for (assignment in assignments) { %>
              <form style="width: 40%; float: left; margin: 5px 5px 5px 5px;" action="/leaderboard/<%= assignments[assignment].assignment_id %>">
                  <input class="btn btn-primary btn-block" type="submit" value="<%= assignments[assignment].name %>">
              </form>
          <% } %>
        </div>
      </div>
    </div>
    <% if (typeof runs !== 'undefined' && has_performance_tests) { %>
    <div id="chartContainerContainer" class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
      <hr/>
        <div id="historyChartContainer" class="col-md-12 col-md-offset-0" style="height: 200px">
        </div>
        <div id="binnedChartContainer" class="col-md-12 col-md-offset-0" style="height: 200px">
        </div>
      </div>
    </div>
    <% } %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <% if (typeof runs !== 'undefined') { %>
        <p><font size=3>Showing <%= runs.length %> run(s).</font></p>
        <% } %>
        <table id="runs_table" style="width:100%" class="table table-hover table-bordered table-condensed">
          <tr>
            <td bgcolor="#AAAAAA"><center><b>Run</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Summary</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Passed Checkstyle?</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Compiled?</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Passed All Correctness Tests?</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Completed Performance Tests?</b></center></td>
          </tr>
          <% if (typeof runs !== 'undefined') { %>
          <%   var failed_color = '#FF3333'; %>
          <%   var success_color = '#00FF00'; %>
          <%   for (r in runs) { %>
          <%     var status = runs[r].status %>
          <%     var status_color = status === 'FINISHED' ? 'green' : ((status === 'FAILED' || status === 'CANCELLED') ? 'red' : 'orange'); %>
          <%     if (status === 'IN CLUSTER QUEUE') status = 'IN QUEUE, job ' + runs[r].job_id; %>
          <%     var checkstyle_color = runs[r].passed_checkstyle ? success_color : failed_color; %>
          <%     var compiled_color = runs[r].compiled ? success_color : failed_color; %>
          <%     var correctness_color = runs[r].passed_all_correctness ? success_color : failed_color; %>
          <%     var performance_color = runs[r].passed_performance ? success_color : failed_color; %>
          <tr><td><center><%= runs[r].run_id %></center></td>
              <td><center><font color="<%= status_color %>"><%= status %></font></center></td>
              <td width="200px" bgcolor=<%= checkstyle_color %>></td>
              <td width="200px" bgcolor=<%= compiled_color %>></td>
              <td width="200px" bgcolor=<%= correctness_color %>></td>
              <% if (has_performance_tests) { %>
                  <% if (runs[r].characteristic_speedup.length != 0) { %>
                      <td width="200px" bgcolor=<%= performance_color %>><center><%= runs[r].characteristic_speedup %>x</center></td>
                  <% } else { %>
                      <td width="200px" bgcolor=<%= performance_color %>></td>
                  <% } %>
              <% } else { %>
                  <td width="200px"></td>
              <% } %>
          </tr>
          <%   } %>
          <% } %>
        </table>
      </div>
    </div>

    <% include footer.html %>
  </body>
</html>
