<html>
  <head>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>

    <script type="text/javascript">
      var failed_color = '"FF3333"';
      var success_color = '"00FF00"';

      function set_dropdown_label(lbl) {
        $('#dropdown-button').text(lbl);
        $('#assignment_id').val(lbl);

        $.ajax({
            url: '/anonymous_runs',
            type: 'GET',
            data: { assignment_name: lbl },
            ContentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function(data) {
              $('#runs_table').find("tr:gt(0)").remove(); // clear table except column headers

              if (data.status === 'Success') {
                var runs = data.runs;
                for (var i = 0; i < runs.length; i++) {
                  var curr = runs[i];
                  var status = curr.status;
                  var status_color = status === 'FINISHED' ? 'green' : (status === 'FAILED' ? 'red' : 'orange');
                  $('#runs_table tr:last').after('<tr><td><center>' +
                      curr.run_id + '</center></td><td><center><font color="' +
                      status_color + '">' + curr.status + '</font></center>' +
                      '</td><td bgcolor=' + failed_color +
                      '></td><td bgcolor=' + failed_color +
                      '></td><td bgcolor=' + failed_color + '></td></tr>');
                }
              } else {
                show_error(data.msg);
              }
            },
            failure: function() {
              show_error('Internal failure');
            },
        });
      }

      $(function() {
          $.ajax({
              url: '/assignments',
              type: 'GET',
              data: { get_not_visible: false },
              ContentType: 'application/json; charset=utf-8',
              dataType: 'json',
              success: function(data) {
                if (data.status === 'Success') {
                  var assignments = data.assignments;
                  $('#assignment-dropdown').empty();
                  if (assignments.length > 0) {
                    for (var i = 0; i < assignments.length; i++) {
                        var curr = assignments[i];
                        var entry_html = '<li><a href="#" onclick=set_dropdown_label("' + curr.name + '")>' + curr.name + '</a></li>';
                        $('#assignment-dropdown').append(entry_html);
                    }
                  } else {
                    $('#assignment-dropdown').append('<li><a href="#">No Assignments Available</a></li>');
                  }
                } else {
                  show_error(data.msg);
                }
              },
              failure: function() {
                show_error('Internal failure');
              },
            });
        });
    </script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h3>Leaderboard</h3>
        <hr/>
        <div class="col-md-7 col-md-offset-3">
          <div class="dropdown" style="float:left">
            <button style="width=100%" id='dropdown-button' class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">Select Assignment</button>
            <ul class="dropdown-menu" id="assignment-dropdown">
              <li><a href="#">Loading...</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <table id="runs_table" style="width:100%" border="1">
          <tr>
            <td bgcolor="#AAAAAA"><center><b>Run ID</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Summary</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Passed Checkstyle?</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Compiled?</b></center></td>
            <td bgcolor="#AAAAAA"><center><b>Passed All Correctness Tests?</b></center></td>
          </tr>
        </table>
      </div>
    </div>

    <% include footer.html %>
  </body>
</html>
