<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script type="text/javascript" src="/third_party/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/third_party/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(function() {
        $('#pw').keydown(function(e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                $('#login_form').submit();
            }
        });
    });
    </script>
  </head>

  <body>
    <% include header.html %>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <form id="login_form" role="form" action="/login" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="NetID" id="username" name="username" autocomplete="on"></input>
        <input type="password" class="form-control" placeholder="Password" id="pw" name="pw" autocomplete="on"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
      </form>
      </div>
    </div>

    <% include footer.html %>

  </body>
</html>
