<html>
  <head>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h3><%= username %>'s Profile</h3>
        <hr/>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4>Statistics</h4>
        <h5># of Runs: <%= nruns %></h5>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4>Settings</h4>
        <form action="/notifications" method="post" name="notificationsForm">
          <div class="form-group">
        <% if (notifications_enabled) { %>
          <input value="Disable e-mail notifications" name="disable" type="submit" class="btn btn-default"/>
        <% } else { %>
          <input value="Enable e-mail notifications" name="enable" type="submit" class="btn btn-default"/>
        <% } %>
          </div>
        </form>
      </div>
    </div>

    <% include footer.html %>
  </body>
</html>
