<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h3><%= username %>'s Profile</h3>
        <hr/>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4>Statistics</h4>
        <h5># of Runs: <%= nruns %></h5>
        <h5>Remaining Slip Days: <%= remaining_slip_days %></h5>
        <h5>Final Runs:</h5>
        <div class="col-md-8 col-md-offset-0">
        <table style="width: 100%" class="table table-hover table-bordered table-condensed">
            <tr>
                <td bgcolor="#AAAAAA"><center><b>Assignment</b></center></td>
                <td bgcolor="#AAAAAA"><center><b>Run</b></center></td>
            </tr>
            <% for (var i = 0; i < final_runs.length; i++) { %>
            <%     var final_run = final_runs[i]; %>
            <%     var run_url = '/run/' + final_run.run_id; %>
            <tr>
                <td><%= final_run.assignment_name %></td>
                <td><a href=<%= run_url %>>Link</a></td>
            </tr>
            <% } %>
        </table>
        </div>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4>Settings</h4>
        <form action="/notifications" method="post" name="notificationsForm">
          <div class="form-group">
        <% if (notifications_enabled) { %>
          <input value="Disable e-mail notifications" name="disable" type="submit" class="btn btn-default"/>
        <% } else { %>
          <input value="Enable e-mail notifications" name="enable" type="submit" class="btn btn-default"/>
        <% } %>
          </div>
        </form>
      </div>
    </div>

    <% include footer.html %>
  </body>
</html>
