<html>
  <head>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h3>Run <%= run_id %></h3>
        <hr/>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <h4>Score: <%= score.total %> / <%= score.total_possible %> (<%= (100.0 * score.total / score.total_possible).toFixed(2) %>%)</h4>
        <div class="col-md-offset-1">
          <% for (var iter = 0; iter < score.breakdown.length; iter++) { %>
          <h5><%= score.breakdown[iter].name %>: <%= score.breakdown[iter].points %> / <%= score.breakdown[iter].total %></h5>
          <% } %>
        </div>
        <% if (viola_err && viola_err.length > 0) { %>
          <h4><font color="red">Correctness tests reported error: <%= viola_err %></font></h4>
        <% } %>
        <h4>
      </div>
    </div>

    <% for (filename in log_files) { %>
    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4><%= filename.charAt(0).toUpperCase() + filename.substring(1, filename.length - 4) %></h4>
        <div class="col-md-offset-1">
          <font face="consolas">
            <textarea style="width:100%; height:300px" wrap='off' readonly><%= log_files[filename] %></textarea>
            <!--p style="white-space: pre-wrap"><%= log_files[filename] %></p-->
          </font>
        </div>
        <hr/>
      </div>
    </div>
    <% } %>

    <% include footer.html %>
  </body>
</html>
