<html>
  <head>
    <title>Run <%= run_id %></title>
    <link rel="stylesheet" href="/third_party/bootstrap.min.css">
    <script src="/third_party/jquery-2.1.4.min.js"></script>
    <script src="/third_party/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
                $('#tag_button').click(function(e) {
                        e.preventDefault();
                        $('#tag_form').submit();
                    });
        });
    </script>

  </head>

  <body>
    <% include header.html %>

    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
          <div class="col-md-4 col-md-offset-0">
            <font size=6 style="text-align: center"><b>Run <%= run_id %></b></font>
          </div>
          <div class="col-md-4 col-md-offset-0">
            <font size=4 style="text-align: center"><%= assignment_name %></font>
          </div>
          <div class="col-md-4 col-md-offset-0">
            <% if (is_final) { %>
              <form id="unmark_final" action="/unmark_final/<%= assignment_id %>" method="post" style="float: right">
                <button class="btn btn-default" type="submit" id="mark_final_btn" style="background-color:green; color:white;">Unmark as Final</button>
              </form>
            <% } else { %>
              <form id="mark_final" action="/mark_final/<%= run_id %>" method="post" style="float: right">
                <button class="btn btn-default" type="submit" id="mark_final_btn">Mark Final</button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="width:100%">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-offset-0" style="margin-bottom: 5px">
                <% var percent_score = score.total_possible > 0.0 ? (100.0 * score.total / score.total_possible) : 0.0; %>
                <% if (finished) { %>
                <font size=4><b>Score: <%= score.total %> / <%= score.total_possible %> (<%= percent_score.toFixed(2) %>%)</b><span style="float:right">Time to complete: <%= elapsed_time %></span></font>
                <% } else { %>
                <%     var status_color = run_status === 'FINISHED' ? 'green' : ((run_status === 'FAILED' || run_status === 'CANCELLED') ? 'red' : 'orange'); %>
                <font style="float:right" size=4 color=<%= status_color %>><%= run_status %></font><font style="float:right" size=4>Time so far: <%= elapsed_time %>,&nbsp;</font>
                <% } %>
            </div>
            <div class="col-md-offset-0" style="margin-bottom: 5px">
                <font size="2">Click each section below for detailed comments</font>
            </div>
        
        <div class="col-md-offset-0">
          <div class="panel-group">
          <% for (var iter = 0; iter < score.breakdown.length; iter++) { %>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <!--h5><%= score.breakdown[iter].name %>: <%= score.breakdown[iter].points %> / <%= score.breakdown[iter].total %></h5-->
                          <a data-toggle="collapse" href="#collapse_<%= score.breakdown[iter].name %>">
                              <font size=3>
                                  <%= score.breakdown[iter].name %>: <%= score.breakdown[iter].points %> / <%= score.breakdown[iter].total %>
                              </font>
                          </a>
                      </h4>
                  </div>
                  <div id="collapse_<%= score.breakdown[iter].name %>" class="panel-collapse collapse">
                      <ul class="list-group">
                          <% if (score.breakdown[iter].comments.length == 0) { %>
                          <li class="list-group-item">No comments</li>
                          <% } else { %>
                              <% for (var comment_iter = 0; comment_iter < score.breakdown[iter].comments.length; comment_iter++) { %>
                              <li class="list-group-item"><font size=2><%= score.breakdown[iter].comments[comment_iter] %></font></li>
                              <% } %>
                          <% } %>
                      </ul>
                  </div>
              </div>
          <% } %>
          </div>
        </div>
        <% if (viola_err && viola_err.length > 0) { %>
            <h4><center><font color="red">Correctness tests reported error: <%= viola_err %></font></center></h4>
        <% } %>
        <% if (cello_err && cello_err.length > 0) { %>
            <h4><center><font color="red">Performance tests reported error: <%= cello_err %></font></center></h4>
        <% } %>
      <table style="width:100%" border="1" bordercolor='#ffffff' class="table table-bordered table-condensed"><tr>
        <td bgcolor=<%= (!passed_checkstyle ? '#FF3333' : '#00FF00') %> ><center><b>Checkstyle</b></center></td>
        <td bgcolor=<%= (!compiled ? '#FF3333' : '#00FF00') %> ><center><b>Compilation</b></center></td>
        <td bgcolor=<%= (!passed_all_correctness ? '#FF3333' : '#00FF00') %> ><center><b>Correctness</b></center></td>
        <% if (has_performance_tests) { %>
        <%     var performance_color = (!passed_performance ? '#FF3333' : '#00FF00'); %>
        <%     if (correctness_only) performance_color = '#EEEEEE'; %>
        <%     if (enable_profiling) performance_color = '#EEEEEE'; %>
            <td bgcolor=<%= performance_color %> ><center><b>Performance</b></center></td>
        <% } %>
      </tr></table>
      <form id="tag_form" action="/update_tag/<%= run_id %>" method="post">
          <div class="input-group">
              <input name="tag" type="text" class="form-control" placeholder="Optional Tag" id="tag" value="<%= run_tag %>"/>
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="tag_button">Update</button>
              </span>
          </div>
      </form>

      </div>
    </div>

    <% for (filename in log_files) { %>
    <div class="row" style="width:100%">
      <div class="col-md-8 col-md-offset-2">
        <hr/>
        <h4><%= log_files[filename].lbl %></h4>
        <div class="col-md-offset-1">
          <font face="consolas">
            <textarea style="width:100%; height:300px" wrap='off' readonly><%= log_files[filename].contents %></textarea>
            <!--p style="white-space: pre-wrap"><%= log_files[filename] %></p-->
          </font>
        </div>
        <hr/>
      </div>
    </div>
    <% } %>

    <% include footer.html %>
  </body>
</html>
